# Ignore everything
*

# Explicitly allow the following:
!**.gitkeep
!*/
!.editorconfig
!.gitignore
!.pre-commit-config.yaml
!Dockerfile
!LICENSE
!README.md
!config.default
!entrypoint.sh
!*.patch
!requirements.txt

# Re-ignore anything allowed above
**__pycache__/
.*
